h1{
    text-align:center;
    font-size:3em;
    height:1em;
}
#todoArea{
    width:30vw;
    position:absolute;
    left:6vw;
}
#finArea{
    width:30vw;
    position:absolute;
    left:56vw;
}
#todoArea li,#finArea li{
    list-style:none;
    border-bottom:dashed;
    border-bottom-color:black;
    border-bottom-width:1px;
    padding:0.5em;
    font-size:1.5em;
}
.todoDelete,.finDelete,#todoDelAll,#finDelAll{
    position:absolute;
    right:-2em;
    background-color:silver;
    width:1.5em;
    height:1.5em;
}
.todoCheck,.finCheck,li #todoCheckAll,li #finCheckAll{
    position:absolute;
    left:0px;
    width:1.5em;
    height:1.5em;
}
input{
    font-size:1em;
}
#checkAll{
    position:absolute;
    left:0px;
    padding:0.5em;
}
#inputArea{
    padding-bottom:1.5em;
    border-bottom:solid;
    border-bottom-width:thin;
}
ul #todoTitle,ul #finTitle{
    border-bottom:none;
    font-size:160%;
    text-align:center;
    text-decoration:underline;
    margin-bottom:0.3em;
}
span{
    font-size:165%;
}